<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.fitbit.sampleandroidoauth2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FitbitAuthApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.fitbit.sampleandroidoauth2.CLIENT_ID"
            android:value="227YZT"/>
        <meta-data
            android:name="com.fitbit.sampleandroidoauth2.REDIRECT_URL"
            android:value="https://finished"/>

        <activity android:name="com.fitbit.sampleandroidoauth2.MainPageActivity"
            android:label="MainPageActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name="com.fitbit.sampleandroidoauth2.RootActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Fitbit.Teal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.fitbit.sampleandroidoauth2.UserDataActivity"
                  android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.fitbit.sampleandroidoauth2.globals"
            android:label="globals"
            android:theme="@style/AppTheme">

        </activity>


    </application>

</manifest>